* {
 margin: 0px;
 padding: 0px;
}

.x{
  font-weight:bold;
  font-size: 48px;
  }

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 66px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 16px;
  margin-bottom: 4px;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 4px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.intro {
  font-size: 17px;
  line-height: 24px;
  font-style: italic;
  color: darkgray;
}

#main_container{
  background-color:#FFFFFF;
  max-width:1400px;
  margin: auto;
}

#intro_column{
  background-color:#FFFFFF;
  width:94%;
  margin-left:3%;
}

#current_column{
  background-color:#FFFFFF;
  width:46%;
  margin-left:2%;
}

#coming_soon_column{
  background-color:#FFFFFF;
  width:46%;
  margin-left:2%;
  padding-bottom: 20px;
}

img {
    height: 286px;
    width:100%;
}

@media (min-width: 690px) {
  #main_container {
    overflow:hidden;
  }

  #intro_column { 
    margin-left: 5%;
    width: 90%;
    float:left; 
  }

  #current_column {
    margin-left: 5%;
    width:43%;
    float:left;
  }

  #coming_soon_column {
    width:43%;
    margin-left:4%;
    float:left;
  }
}

@media (min-width: 1015px) {
  #intro_column {
    width:26%;
    margin-left: 4%;
  }

  #current_column {
    width:30%;
    clear:none;
    margin-left: 4%;
  }

  #coming_soon_column {
    width:30%;
    margin-left: 2%;
  }

  body {
    background-image: url(images/x-gray.png);
  }
}
